.Menu {
  width: 200px;
  height: 100%;
  color: inherit;
  border-radius: 6px;
  position: absolute;
  margin: 0;
}


.Menu .selected{
  margin-top: 10px;
  background: #FFF ;
  border-radius: 6px;
  color: #FFF;

}

.Menu li:hover {
  background: rgba(226, 226, 226, 0.342);
  color: #FFF;
  border-radius: 6px;
  
}
.Menu ul {
  list-style: none;
}

.Nav {
  content: '';
  width: 350px;
  height: 45px;
  background: rgba(226, 226, 226, 0.342); 
  border-radius: 25px;
  position: relative;
  left:500px;
  top: 50px;
  margin-bottom: 50px;
  padding-left: -5px;
  height: 40px;
  
}

.Nav li{
  color: #FFF;
  display: inline-block;
  padding: 10px;
  text-decoration: none;
  border-radius: 20px;
  
}

#btn-tasks {
  position: absolute;
  left: 1100px;
}

.Nav-selected{
  background: rgb(3, 3, 126);
  padding-left: 50px;
  width: 75px;
  height: 40px;
  color: #FFF;

}

.cells {
  position: absolute;
  padding: 0 10px;
  margin: 0 10px;
  left: 200px;
  top: 200px;
}

.taches {
  margin: auto;
  width: 1190px;
  margin-right: 150px;
  background: #FFF;
  border-radius: 5px;
  position: relative;
}

.header {
  width: 1230px;
  height: 750px;
  position: relative;
  bottom: 25px;
  left: 200px;
  top: 10px;
  padding: 10px;
  margin: 10px;
  background: rgba(226, 226, 226, 0.342);

}
.elt-1 {
  
  margin-top: 10px;
  padding: 8px;
  margin-bottom: 10px;
  border-radius: 5px;
  width: 100%;
  padding-right: 150px;
}

.line-1 {
  padding-right: 130px;
}
.line-2 {
  padding-right: 130px;
  position: absolute;
  left:780px;
}


.line-3 {
  padding-right: 130px;
  position: absolute;
  left:905px;
}

.line-4{
  position: absolute;
  padding-right: 130px;
  left: 995px;
}

.line-5 {
  position: absolute;
  left:1130px;

}

.formulaire {
  position: relative;
  top: 50px;
}